<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  throwExceptions="true">
	<targets>
		<target name="console" xsi:type="ColoredConsole" layout="${date:format=o} ${level} ${logger} ${message}" />
		<target name="logfile" xsi:type="File" fileName ="logfile.txt" layout="${date:format=o} ${level} ${logger} ${message}" />
	</targets>

	<rules>
		<logger name="Microsoft.EntityFrameworkCore.*" minlevel="Warning" writeTo="console" />
		<logger name="PaymentApi.Controllers.PayController" minlevel="Info" writeTo="console,logfile" />
		<logger name="*" minlevel="Warning" writeTo="console" />
	</rules>
</nlog>